@import "tailwindcss";

@keyframes slideX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slider{
    width: max-content;
    animation: slideX 20s linear infinite;;
}